* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.desktop-friendly {
  display: flex;
  align-items: center;
}
.mobile-friendly {
  display: flex;
  justify-content: center;
  align-items: center;
}

.gray-underline {
  border-bottom: 1px solid rgb(212, 212, 212);
}

.container {
  max-width: 824px;
  height: 400px;
  /* outline: px solid; */
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px,
    rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px,
    rgba(0, 0, 0, 0.07) 0px 16px 16px;
}

.main {
  width: 70%;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-right: 1px solid rgb(233, 233, 233);
  border-left: 1px solid rgb(233, 233, 233);
  min-width: 500px;
  padding: 0.25rem 5rem;
}
.container {
  width: 100%;
}

.main-text {
  text-align: center;
  padding: 1rem;
  line-height: 1.6rem;
  font-size: 1.2rem;
}

.main-text-container {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(181, 181, 181);
}

.cursive1 {
  font-family: cursive1;
}

.cursive2 {
  font-family: cursive2;
}

.cursive3 {
  font-family: cursive3;
}

.poppins {
  font-family: poppins;
}

.img {
  width: 100%;
  height: 100%;
  max-width: 824px;
  background-size: cover;
  background-position-x: center;
  background-repeat: no-repeat;
}

.header-img {
  background-image: url('images/JulieandWalkerHEADER.jpg');
}

.footer-img {
  background-image: url('images/JulieandWalkerFOOTER.jpg');
}

.ceremony-container {
  text-align: center;
}

.ceremony-container > div:not(:first-child) {
  margin-top: 1rem;
}

.details-text {
  max-width: 25%;
  font-size: 1rem;
  padding: 0 2rem;
  position: absolute;
  right: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: auto;
  height: 100%;
  font-family: poppins;
  scrollbar-width: thin;
  scrollbar-color: white white;
  padding-bottom: 1rem;
  color: rgb(92, 92, 92);
}

.details-text > div:not(:first-child) {
  margin-top: 3rem;
}

.sticky-label {
  text-align: center;
  margin-bottom: 0.2rem;
}

h4 {
  color: rgb(158, 158, 158);
}

.weddingday {
  font-family: weddingday;
}

@font-face {
  font-family: weddingday;
  src: url('fonts/exmouth_.ttf');
}

@font-face {
  font-family: cursive1;
  src: url('fonts/Magnolia\ Script.otf');
}

@font-face {
  font-family: cursive2;
  src: url('fonts/ModernBritania.otf');
}

@font-face {
  font-family: cursive3;
  src: url('fonts/TailstockDemoRegular.ttf');
}

@font-face {
  font-family: poppins;
  src: url('fonts/Poppins-ExtraLight.ttf');
}

.mobile-friendly {
  display: none;
}

@media only screen and (max-width: 958px) {
  body {
    justify-content: flex-start;
  }

  .main {
    border: none;
    padding-left: 0;
  }

  .details-text {
    max-width: 40%;
    margin-top: 1rem;
    gap: 2rem;
    text-align: center;
  }

  .details-text > div {
    margin-top: 0;
  }

  .ceremony-container {
    position: relative;
  }

  .sticky-label {
    position: sticky;
    top: 0;
    overflow: hidden;
    background-color: white;
  }
}

@media only screen and (max-width: 688px) {
  .mobile-friendly {
    display: inherit;
  }
  .desktop-friendly {
    display: none;
  }

  body {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container {
    /* width: 100%; */
    /* max-height: 300px; */
    /* box-shadow: none; */
  }

  .main-text-container {
    width: 100%;
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .save-the-date {
    margin-top: 2rem;
    text-align: center;
  }

  .details-text {
    position: relative;
    max-width: 100%;
    right: auto;
    justify-content: flex-start;
  }

  .main {
    padding: 0;
    min-width: 100%;
    height: auto;
  }

  .details-text > div:not(:first-child) {
    margin-top: 0rem;
  }
}
